# imports

In [1]:
import pandas as pd
import datetime as datetime

#

# turning data into dataframes

In [2]:
alarms = pd.read_csv('alarms.csv', sep=';')
regions = pd.read_csv('regions.csv')
weather_by_hour = pd.read_csv('all_weather_by_hour_v2.csv')

In [3]:
alarms.head(5)

,id,region_id,region_title,region_city,all_region,start,end,clean_end,intersection_alarm_id
0,2,3,Вінниччина,Вінниця,0,2022-02-25 22:55:42,2022-02-25 23:41:53,2022-02-25 23:41:53,NaN
1,4,12,Львівщина,Львів,0,2022-02-26 06:26:17,2022-02-26 07:15:28,2022-02-26 07:15:28,NaN
2,5,14,Одещина,Одеса,0,2022-02-26 07:16:58,2022-02-26 07:47:03,2022-02-26 07:47:03,NaN
3,6,6,Житомирщина,Житомир,0,2022-02-26 08:05:54,2022-02-26 09:36:36,2022-02-26 09:36:36,NaN
4,7,3,Вінниччина,Вінниця,0,2022-02-26 08:39:39,2022-02-26 10:42:41,2022-02-26 10:42:41,NaN

In [4]:
regions.head(5)

             region center_city_ua center_city_en        region_alt  region_id
0           АР Крим    Сімферополь     Simferopol              Крим          1
1         Вінницька        Вінниця      Vinnytsia        Вінниччина          2
2         Волинська          Луцьк          Lutsk            Волинь          3
3  Дніпропетровська         Дніпро         Dnipro  Дніпропетровщина          4
4          Донецька        Донецьк        Donetsk         Донеччина          5

In [5]:
weather_by_hour.head(5)

,city_latitude,city_longitude,city_resolvedAddress,city_address,city_timezone,city_tzoffset,day_datetime,day_datetimeEpoch,day_tempmax,day_tempmin,...,hour_visibility,hour_cloudcover,hour_solarradiation,hour_solarenergy,hour_uvindex,hour_severerisk,hour_conditions,hour_icon,hour_source,hour_stations
0,50.7469,25.3263,"Луцьк, Луцький район, Україна","Lutsk,Ukraine",Europe/Kiev,2.0,2022-02-24,1645653600,4.9,0.7,...,0.0,91.5,0.0,NaN,0.0,10.0,Overcast,snow,obs,remote
1,50.7469,25.3263,"Луцьк, Луцький район, Україна","Lutsk,Ukraine",Europe/Kiev,2.0,2022-02-24,1645653600,4.9,0.7,...,0.2,88.2,0.0,NaN,0.0,10.0,Partially cloudy,fog,obs,remote
2,50.7469,25.3263,"Луцьк, Луцький район, Україна","Lutsk,Ukraine",Europe/Kiev,2.0,2022-02-24,1645653600,4.9,0.7,...,10.0,100.0,NaN,NaN,NaN,10.0,Overcast,cloudy,obs,33177099999
3,50.7469,25.3263,"Луцьк, Луцький район, Україна","Lutsk,Ukraine",Europe/Kiev,2.0,2022-02-24,1645653600,4.9,0.7,...,0.1,92.0,0.0,NaN,0.0,10.0,Overcast,fog,obs,remote
4,50.7469,25.3263,"Луцьк, Луцький район, Україна","Lutsk,Ukraine",Europe/Kiev,2.0,2022-02-24,1645653600,4.9,0.7,...,0.0,93.8,0.0,NaN,0.0,10.0,Overcast,cloudy,obs,remote

#

# preparing alarms dataframe

### fixing region_id

In [6]:
alarms.loc[alarms['region_title'] == 'Вінниччина', 'region_id'] = 2
alarms.loc[alarms['region_title'] == 'Волинь', 'region_id'] = 3
alarms.loc[alarms['region_title'] == 'Івано-Франківщина', 'region_id'] = 9
alarms.loc[alarms['region_title'] == 'Буковина', 'region_id'] = 24
alarms.loc[alarms['region_title'] == 'Чернігівщина', 'region_id'] = 25

regions_to_update = ['Київщина', 'Кіровоградщина', 'Львівщина', 'Миколаївщина', 'Одещина',
                     'Полтавщина', 'Рівненщина', 'Сумщина', 'Тернопільщина', 'Харківщина',
                     'Херсонщина', 'Хмельниччина', 'Черкащина']

for region in regions_to_update:
    alarms.loc[alarms['region_title'] == region, 'region_id'] += 1

### changing data types & adding unix time

In [7]:
# to dt
alarms['full_start'] = pd.to_datetime(alarms['start'])
alarms['full_end'] = pd.to_datetime(alarms['end'])

# start-end hours
alarms['start_hour'] = alarms['full_start'].dt.floor('H')
alarms['end_hour'] = alarms['full_end'].dt.ceil('H')

# start day
alarms['day'] = alarms['full_start'].dt.date

# unix time
alarms['start_hour_dtEpoch'] = alarms['start_hour'].apply(lambda x: int(x.strftime('%s')))
alarms['end_hour_dtEpoch'] = alarms['end_hour'].apply(lambda x: int(x.strftime('%s')))

### droping useless columns

In [8]:
alarms = alarms.drop(['start'], axis=1)
alarms = alarms.drop(['end'], axis=1)
alarms = alarms.drop(['id'], axis=1)

### creating dataframe for alarms by hour

In [9]:
al_by_hour = []

for ind, alarm in alarms.iterrows():
    for i in pd.date_range(start=alarm['start_hour'], end=alarm['end_hour'], freq='1H'):
        al = alarm.copy()
        al['alarm_hour'] = i
        al_by_hour.append(al)

alarms_by_hour = pd.DataFrame(al_by_hour)

### changing data types & adding unix time

In [10]:
alarms_by_hour['alarm_hour'] = pd.to_datetime(alarms_by_hour['alarm_hour'])
# unix time
alarms_by_hour['alarm_hourEpoch'] = alarms_by_hour['alarm_hour'].apply(lambda x: int(x.strftime('%s')))

### done!

In [11]:
alarms_by_hour.head(5)

,region_id,region_title,region_city,all_region,clean_end,intersection_alarm_id,full_start,full_end,start_hour,end_hour,day,start_hour_dtEpoch,end_hour_dtEpoch,alarm_hour,alarm_hourEpoch
0,2,Вінниччина,Вінниця,0,2022-02-25 23:41:53,NaN,2022-02-25 22:55:42,2022-02-25 23:41:53,2022-02-25 22:00:00,2022-02-26 00:00:00,2022-02-25,1645819200,1645826400,2022-02-25 22:00:00,1645819200
0,2,Вінниччина,Вінниця,0,2022-02-25 23:41:53,NaN,2022-02-25 22:55:42,2022-02-25 23:41:53,2022-02-25 22:00:00,2022-02-26 00:00:00,2022-02-25,1645819200,1645826400,2022-02-25 23:00:00,1645822800
0,2,Вінниччина,Вінниця,0,2022-02-25 23:41:53,NaN,2022-02-25 22:55:42,2022-02-25 23:41:53,2022-02-25 22:00:00,2022-02-26 00:00:00,2022-02-25,1645819200,1645826400,2022-02-26 00:00:00,1645826400
1,13,Львівщина,Львів,0,2022-02-26 07:15:28,NaN,2022-02-26 06:26:17,2022-02-26 07:15:28,2022-02-26 06:00:00,2022-02-26 08:00:00,2022-02-26,1645848000,1645855200,2022-02-26 06:00:00,1645848000
1,13,Львівщина,Львів,0,2022-02-26 07:15:28,NaN,2022-02-26 06:26:17,2022-02-26 07:15:28,2022-02-26 06:00:00,2022-02-26 08:00:00,2022-02-26,1645848000,1645855200,2022-02-26 07:00:00,1645851600

#

# preparing weather_by_hour dataframe

### droping useless columns

In [12]:
city_info = [
'city_latitude',
'city_longitude',
'city_address',
'city_timezone',
'city_tzoffset'
]

In [13]:
weather_by_hour2 = weather_by_hour.drop(city_info, axis=1)

### changing data types

In [14]:
# to dt
weather_by_hour2['day_datetime'] = pd.to_datetime(weather_by_hour2['day_datetime'])
weather_by_hour2['hour_datetime'] = pd.to_datetime(weather_by_hour2['hour_datetime'])

/var/folders/pl/44_xc9854334t6jcvdmz7clm0000gn/T/ipykernel_30821/2845105210.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  weather_by_hour2['hour_datetime'] = pd.to_datetime(weather_by_hour2['hour_datetime'])

### creating new column for cities

In [15]:
weather_by_hour2['center_city'] = weather_by_hour2['city_resolvedAddress'].apply(lambda x: x.split(',')[0])
# fixing city name
weather_by_hour2['center_city'] = weather_by_hour2['center_city'].replace('Хмельницька область', 'Хмельницький')

#

# merging weather data with regions

In [16]:
weather_regions = pd.merge(weather_by_hour2, regions, left_on='center_city',right_on='center_city_ua')

In [17]:
weather_regions.head(5)

,city_resolvedAddress,day_datetime,day_datetimeEpoch,day_tempmax,day_tempmin,day_temp,day_feelslikemax,day_feelslikemin,day_feelslike,day_dew,...,hour_conditions,hour_icon,hour_source,hour_stations,center_city,region,center_city_ua,center_city_en,region_alt,region_id
0,"Луцьк, Луцький район, Україна",2022-02-24,1645653600,4.9,0.7,2.6,4.0,-3.1,-0.2,0.0,...,Overcast,snow,obs,remote,Луцьк,Волинська,Луцьк,Lutsk,Волинь,3
1,"Луцьк, Луцький район, Україна",2022-02-24,1645653600,4.9,0.7,2.6,4.0,-3.1,-0.2,0.0,...,Partially cloudy,fog,obs,remote,Луцьк,Волинська,Луцьк,Lutsk,Волинь,3
2,"Луцьк, Луцький район, Україна",2022-02-24,1645653600,4.9,0.7,2.6,4.0,-3.1,-0.2,0.0,...,Overcast,cloudy,obs,33177099999,Луцьк,Волинська,Луцьк,Lutsk,Волинь,3
3,"Луцьк, Луцький район, Україна",2022-02-24,1645653600,4.9,0.7,2.6,4.0,-3.1,-0.2,0.0,...,Overcast,fog,obs,remote,Луцьк,Волинська,Луцьк,Lutsk,Волинь,3
4,"Луцьк, Луцький район, Україна",2022-02-24,1645653600,4.9,0.7,2.6,4.0,-3.1,-0.2,0.0,...,Overcast,cloudy,obs,remote,Луцьк,Волинська,Луцьк,Lutsk,Волинь,3

### done!

#

# merging weather data with alarms data

In [18]:
alarms_by_hour.head(5)

,region_id,region_title,region_city,all_region,clean_end,intersection_alarm_id,full_start,full_end,start_hour,end_hour,day,start_hour_dtEpoch,end_hour_dtEpoch,alarm_hour,alarm_hourEpoch
0,2,Вінниччина,Вінниця,0,2022-02-25 23:41:53,NaN,2022-02-25 22:55:42,2022-02-25 23:41:53,2022-02-25 22:00:00,2022-02-26 00:00:00,2022-02-25,1645819200,1645826400,2022-02-25 22:00:00,1645819200
0,2,Вінниччина,Вінниця,0,2022-02-25 23:41:53,NaN,2022-02-25 22:55:42,2022-02-25 23:41:53,2022-02-25 22:00:00,2022-02-26 00:00:00,2022-02-25,1645819200,1645826400,2022-02-25 23:00:00,1645822800
0,2,Вінниччина,Вінниця,0,2022-02-25 23:41:53,NaN,2022-02-25 22:55:42,2022-02-25 23:41:53,2022-02-25 22:00:00,2022-02-26 00:00:00,2022-02-25,1645819200,1645826400,2022-02-26 00:00:00,1645826400
1,13,Львівщина,Львів,0,2022-02-26 07:15:28,NaN,2022-02-26 06:26:17,2022-02-26 07:15:28,2022-02-26 06:00:00,2022-02-26 08:00:00,2022-02-26,1645848000,1645855200,2022-02-26 06:00:00,1645848000
1,13,Львівщина,Львів,0,2022-02-26 07:15:28,NaN,2022-02-26 06:26:17,2022-02-26 07:15:28,2022-02-26 06:00:00,2022-02-26 08:00:00,2022-02-26,1645848000,1645855200,2022-02-26 07:00:00,1645851600

In [19]:
weather_regions.head(5)

,city_resolvedAddress,day_datetime,day_datetimeEpoch,day_tempmax,day_tempmin,day_temp,day_feelslikemax,day_feelslikemin,day_feelslike,day_dew,...,hour_conditions,hour_icon,hour_source,hour_stations,center_city,region,center_city_ua,center_city_en,region_alt,region_id
0,"Луцьк, Луцький район, Україна",2022-02-24,1645653600,4.9,0.7,2.6,4.0,-3.1,-0.2,0.0,...,Overcast,snow,obs,remote,Луцьк,Волинська,Луцьк,Lutsk,Волинь,3
1,"Луцьк, Луцький район, Україна",2022-02-24,1645653600,4.9,0.7,2.6,4.0,-3.1,-0.2,0.0,...,Partially cloudy,fog,obs,remote,Луцьк,Волинська,Луцьк,Lutsk,Волинь,3
2,"Луцьк, Луцький район, Україна",2022-02-24,1645653600,4.9,0.7,2.6,4.0,-3.1,-0.2,0.0,...,Overcast,cloudy,obs,33177099999,Луцьк,Волинська,Луцьк,Lutsk,Волинь,3
3,"Луцьк, Луцький район, Україна",2022-02-24,1645653600,4.9,0.7,2.6,4.0,-3.1,-0.2,0.0,...,Overcast,fog,obs,remote,Луцьк,Волинська,Луцьк,Lutsk,Волинь,3
4,"Луцьк, Луцький район, Україна",2022-02-24,1645653600,4.9,0.7,2.6,4.0,-3.1,-0.2,0.0,...,Overcast,cloudy,obs,remote,Луцьк,Волинська,Луцьк,Lutsk,Волинь,3

In [20]:
alarms_weather = weather_regions.merge(alarms_by_hour, how="left", 
                                       left_on=['region_alt','hour_datetimeEpoch'],
                                       right_on=['region_title','alarm_hourEpoch'])

### done!

In [21]:
alarms_weather[alarms_weather['alarm_hourEpoch']>0].head(5)

,city_resolvedAddress,day_datetime,day_datetimeEpoch,day_tempmax,day_tempmin,day_temp,day_feelslikemax,day_feelslikemin,day_feelslike,day_dew,...,intersection_alarm_id,full_start,full_end,start_hour,end_hour,day,start_hour_dtEpoch,end_hour_dtEpoch,alarm_hour,alarm_hourEpoch
64,"Луцьк, Луцький район, Україна",2022-02-26,1645826400,6.3,-1.5,1.9,4.5,-4.1,0.6,-2.7,...,NaN,2022-02-26 16:08:26,2022-02-26 16:39:26,2022-02-26 16:00:00,2022-02-26 17:00:00,2022-02-26,1.645884e+09,1.645888e+09,2022-02-26 16:00:00,1.645884e+09
65,"Луцьк, Луцький район, Україна",2022-02-26,1645826400,6.3,-1.5,1.9,4.5,-4.1,0.6,-2.7,...,NaN,2022-02-26 16:08:26,2022-02-26 16:39:26,2022-02-26 16:00:00,2022-02-26 17:00:00,2022-02-26,1.645884e+09,1.645888e+09,2022-02-26 17:00:00,1.645888e+09
89,"Луцьк, Луцький район, Україна",2022-02-27,1645912800,2.5,-1.9,0.0,-0.1,-6.1,-1.8,-3.2,...,NaN,2022-02-27 17:52:22,2022-02-27 18:11:37,2022-02-27 17:00:00,2022-02-27 19:00:00,2022-02-27,1.645974e+09,1.645981e+09,2022-02-27 17:00:00,1.645974e+09
90,"Луцьк, Луцький район, Україна",2022-02-27,1645912800,2.5,-1.9,0.0,-0.1,-6.1,-1.8,-3.2,...,NaN,2022-02-27 17:52:22,2022-02-27 18:11:37,2022-02-27 17:00:00,2022-02-27 19:00:00,2022-02-27,1.645974e+09,1.645981e+09,2022-02-27 18:00:00,1.645978e+09
91,"Луцьк, Луцький район, Україна",2022-02-27,1645912800,2.5,-1.9,0.0,-0.1,-6.1,-1.8,-3.2,...,NaN,2022-02-27 17:52:22,2022-02-27 18:11:37,2022-02-27 17:00:00,2022-02-27 19:00:00,2022-02-27,1.645974e+09,1.645981e+09,2022-02-27 19:00:00,1.645981e+09

### turning to csv

In [22]:
alarms_weather.to_csv('alarms_weather.csv')

#